@model ex_1285453.Models.ViewModels.EmployeeVM
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div class="col-6">
                <h2 class="display-5">Edit Employee</h2>
                <input type="hidden" asp-for="EmployeeId" />
                <input type="hidden" asp-for="Image" />

                <div class="row mb-2">
                    <label asp-for="EmployeeName" class="col-form-label col-form-label-sm col-2"></label>
                    <div class="col-6">
                        <input asp-for="EmployeeName" class="form-control form-control-sm" />
                    </div>
                    <div class="col-4">
                        <span asp-validation-for="EmployeeName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="Salary" class="col-form-label col-form-label-sm col-2"></label>
                    <div class="col-6">
                        <input asp-for="Salary" class="form-control form-control-sm" />
                    </div>
                    <div class="col-4">
                        <span asp-validation-for="Salary" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="DateOfBirth" class="col-form-label col-form-label-sm col-2"></label>
                    <div class="col-6">
                        <input asp-for="DateOfBirth" class="form-control form-control-sm" type="date" />
                    </div>
                    <div class="col-4">
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="Phone" class="col-form-label col-form-label-sm col-2"></label>
                    <div class="col-6">
                        <input asp-for="Phone" class="form-control form-control-sm" />
                    </div>
                    <div class="col-4">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="ImageFile" class="col-form-label col-form-label-sm col-2"></label>
                    <div class="col-6">
                        <input asp-for="ImageFile" class="form-control form-control-sm" type="file" />
                        <img src="@Model.Image" width="30" style="border-radius:6px;" />
                    </div>
                    <div class="col-4">
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6 offset-2">
                        <input class="form-check-input" asp-for="Fresher" /> @Html.DisplayNameFor(x => x.Fresher)
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h2 class="display-5">Skill List</h2>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-outline-primary btn-sm mb-1" id="btnPlus">+</a>
                </div>
                <div id="skillContainer">
                    @foreach (var item in Model.SkillList)
                    {
                        <script>
                            LoadData(@item)
                        </script>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>



